In [ ]:
## Milestone 1

In [1]:
from urllib.request import Request
import urllib
from datetime import datetime
import numpy as np
import pandas as pd
import csv
import os

In [ ]:
## Milestone 2

In [2]:
import os, uuid, sys
from azure.storage.blob import BlockBlobService, PublicAccess
block_blob_service = BlockBlobService(account_name='wqd7005', account_key='XpndfNFVKvJKGU22QzDYnw8VKc91G4QIW3JESEZQSO4hxLkCB16O+F0wdo6IAAuPvJ+FizhoDO7AWKm4x9N6xw==')

In [3]:
# Create a container called 'rawblob'.
container_name ='rawblob'
#block_blob_service.create_container(container_name)

In [25]:
# Download the blob(s) to local drive in csv format
# Add '_DOWNLOADED' as prefix to '.txt' so you can see both files in Documents.
generator = block_blob_service.list_blobs(container_name)
for blob in generator:
#    print("\t Blob name: " + blob.name)
    local_file_name=os.path.join(blob.name)
    full_path_to_file2 = os.path.join(local_path, str.replace(local_file_name ,'.csv', '_DOWNLOADED.csv'))
    print("\nDownloading blob to " + full_path_to_file2)
    block_blob_service.get_blob_to_path(container_name, blob.name, full_path_to_file2)

#sys.stdout.write("Sample finished running. When you hit <any key>")
#sys.stdout.flush()

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/ADVENTA_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/AHEALTH_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/DPHARMA_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/HARTA_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/IHH_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/KOSSAN_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/KOTRA_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/KPJ_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/PHARMA_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/SUPERMX_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/TMCLIFE_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/TOPGLOV_DOWNLOADED.csv

Downloading blob to C:\Users\ts\Documents\Data Mining\Data/YSPSAH_DOWNLOADED.csv

In [4]:
## Download blob in dataframe
from io import StringIO
import pandas as pd
generator = block_blob_service.list_blobs(container_name)
tables = {}
for blob in generator:
    local_file_name=os.path.join(blob.name)
    #from azure.storage.blob import BlobService
    #print(local_file_name)
    blobstring = block_blob_service.get_blob_to_text(container_name,local_file_name).content
    #df = pd.read_csv(StringIO(blobstring))
    names1 = blob.name[5:]
    names = names1[:-4]
    print(names)
    tables[names] = pd.read_csv(StringIO(blobstring))

ADVENTA
AHEALTH
DPHARMA
HARTA
IHH
KOSSAN
KOTRA
KPJ
PHARMA
SUPERMX
TMCLIFE
TOPGLOV
YSPSAH

In [7]:
list(tables)

['ADVENTA',
 'AHEALTH',
 'DPHARMA',
 'HARTA',
 'IHH',
 'KOSSAN',
 'KOTRA',
 'KPJ',
 'PHARMA',
 'SUPERMX',
 'TMCLIFE',
 'TOPGLOV',
 'YSPSAH']

In [33]:
import csv
topglov=pd.read_csv('Data\TOPGLOV_DOWNLOADED.csv')

In [34]:
topglov.isnull().sum()

t    0
c    5
o    9
h    8
l    7
v    0
s    0
dtype: int64

In [ ]:
#column t - date ()
#c, o, h, l - stock price
#from previous analysis result it only has the missing data under c, o, h, l
#we can't drop row with NA. so need to replace NA with mean value.

In [45]:
print(topglov[topglov.isnull().any(axis=1)])

              t     c     o     h     l         v   s
14   1548172800   NaN  4.87  4.87  4.82   4520000  ok
18   1548691200  4.92   NaN  4.95  4.81   5547900  ok
23   1549555200  4.89  4.85   NaN  4.83   4551400  ok
24   1549814400   NaN  4.89  4.90  4.84   6424900  ok
32   1550678400  5.10   NaN  5.17   NaN  10684700  ok
44   1552233600  4.45  4.60   NaN  4.43  16086400  ok
49   1552838400  4.52  4.57  4.59   NaN   5488400  ok
57   1553702400   NaN   NaN  4.51  4.45   2837100  ok
72   1555516800  4.48  4.55   NaN  4.47   3389000  ok
75   1555948800  4.76  4.54  4.77   NaN   6842300  ok
84   1557158400  4.81   NaN  4.84  4.78   1645700  ok
99   1559145600  5.02  5.03   NaN  5.00   4137900  ok
108  1560700800  5.00   NaN  5.06  5.00   4564100  ok
112  1561046400  5.00  4.95  5.02   NaN  13681700  ok
114  1561392000  4.96  4.97   NaN  4.91   1973200  ok
126  1562774400  4.75   NaN  4.79  4.73   4552600  ok
133  1563724800  4.64  4.66  4.68   NaN   3444500  ok
146  1565193600   NaN  4.58  4.58  4.55   2465200  ok
147  1565280000  4.52  4.57   NaN  4.51   1717000  ok
170  1568822400  4.74  4.79  4.79   NaN   2390000  ok
173  1569254400  4.73   NaN  4.75  4.70   1903700  ok
190  1571241600  4.34  4.30  4.35   NaN   2520000  ok
200  1572537600  4.40   NaN  4.40  4.34   2234400  ok
202  1572883200   NaN  4.53  4.53  4.49   2809600  ok
217  1574697600  4.59  4.59   NaN  4.54   5069900  ok
221  1575216000  4.49  4.54   NaN  4.49    817900  ok
237  1577289600  4.75   NaN  4.79  4.74    643600  ok

In [48]:
mean_valuec=topglov['c'].mean()
topglov['c']=topglov['c'].fillna(mean_valuec)
mean_valueo=topglov['o'].mean()
topglov['o']=topglov['o'].fillna(mean_valueo)
mean_valueh=topglov['h'].mean()
topglov['h']=topglov['h'].fillna(mean_valueh)
mean_valuel=topglov['l'].mean()
topglov['l']=topglov['l'].fillna(mean_valuel)

In [49]:
topglov.isnull().sum()

t    0
c    0
o    0
h    0
l    0
v    0
s    0
dtype: int64