In [ ]:
## Milestone 1

In [4]:
from urllib.request import Request
import urllib
from datetime import datetime
import numpy as np
import pandas as pd
import csv
import os

In [ ]:
## Milestone 2

In [5]:
import os, uuid, sys
from azure.storage.blob import BlockBlobService, PublicAccess
block_blob_service = BlockBlobService(account_name='wqd7005', account_key='XpndfNFVKvJKGU22QzDYnw8VKc91G4QIW3JESEZQSO4hxLkCB16O+F0wdo6IAAuPvJ+FizhoDO7AWKm4x9N6xw==')

In [6]:
# Create a container called 'rawblob'.
container_name ='rawblob'
#block_blob_service.create_container(container_name)

In [7]:
## Download blob in dataframe
from io import StringIO
import pandas as pd
generator = block_blob_service.list_blobs(container_name)
tables = {}
for blob in generator:
    local_file_name=os.path.join(blob.name)
    #from azure.storage.blob import BlobService
    #print(local_file_name)
    blobstring = block_blob_service.get_blob_to_text(container_name,local_file_name).content
    #df = pd.read_csv(StringIO(blobstring))
    names1 = blob.name[5:]
    names = names1[:-4]
    print(names)
    tables[names] = pd.read_csv(StringIO(blobstring))

ADVENTA
AHEALTH
DPHARMA
HARTA
IHH
KOSSAN
KOTRA
KPJ
PHARMA
SUPERMX
TMCLIFE
TOPGLOV
YSPSAH

In [8]:
list(tables)

['ADVENTA',
 'AHEALTH',
 'DPHARMA',
 'HARTA',
 'IHH',
 'KOSSAN',
 'KOTRA',
 'KPJ',
 'PHARMA',
 'SUPERMX',
 'TMCLIFE',
 'TOPGLOV',
 'YSPSAH']

In [9]:
tables

{'ADVENTA':               t      c      o      h     l       v   s
 0    1546358400  0.435  0.400  0.435  0.40    9000  ok
 1    1546963200  0.430  0.430  0.430  0.43    5000  ok
 2    1547481600  0.380  0.380  0.380  0.38  124400  ok
 3    1547568000  0.370  0.380  0.400  0.37   21200  ok
 4    1547740800  0.355  0.360  0.380  0.35   73800  ok
 ..          ...    ...    ...    ...   ...     ...  ..
 175  1577116800  0.550  0.555  0.555  0.55   10000  ok
 176  1577376000  0.560  0.560  0.560  0.56    9000  ok
 177  1577635200  0.560  0.560  0.560  0.56   30000  ok
 178  1577721600  0.600  0.620  0.620  0.60  208600  ok
 179  1577894400  0.610  0.610  0.610  0.61   80100  ok

 [180 rows x 7 columns],
 'AHEALTH':               t     c     o     h     l      v   s
 0    1546444800  8.00  7.80  8.00  7.80  15600  ok
 1    1546531200  8.13  8.00  8.20  8.00  92600  ok
 2    1546790400  8.12  8.12  8.12  8.12   2000  ok
 3    1546876800  8.12  8.10  8.15  8.10  18000  ok
 4    1546963200  8.12  8.10  8.20  8.10  10500  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 231  1577289600  2.24  2.22  2.25  2.20  24000  ok
 232  1577376000  2.24  2.25  2.26  2.24  41200  ok
 233  1577635200  2.25  2.24  2.25  2.24  24600  ok
 234  1577721600  2.24  2.25  2.27  2.24   8100  ok
 235  1577894400  2.24  2.25  2.26  2.24  64400  ok

 [236 rows x 7 columns],
 'DPHARMA':               t      c      o      h      l       v   s
 0    1546358400  0.950  0.940  0.950  0.940  123300  ok
 1    1546444800  0.955  0.950  0.955  0.950   61300  ok
 2    1546531200  0.980  0.945  0.980  0.945   57500  ok
 3    1546790400  1.020  0.985  1.030  0.985  328300  ok
 4    1546876800  1.010  1.030  1.040  1.010  155200  ok
 ..          ...    ...    ...    ...    ...     ...  ..
 237  1577289600  1.390  1.400  1.410  1.390  256100  ok
 238  1577376000  1.400  1.390  1.410  1.390  477800  ok
 239  1577635200  1.400  1.410  1.420  1.390  181700  ok
 240  1577721600  1.420  1.390  1.430  1.390  311200  ok
 241  1577894400  1.460  1.410  1.480  1.410  570800  ok

 [242 rows x 7 columns],
 'HARTA':               t     c     o     h     l         v   s
 0    1546358400  6.17  6.15  6.18  6.11    996800  ok
 1    1546444800  6.15  6.15  6.18  6.10    917700  ok
 2    1546531200  6.13  6.15  6.15  6.09   1104900  ok
 3    1546790400  5.75  6.11  6.14  5.69   8680300  ok
 4    1546876800  5.15  5.81  5.81  5.13  14457600  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  1577289600  5.43  5.46  5.49  5.39   1401500  ok
 238  1577376000  5.50  5.40  5.57  5.39   3109700  ok
 239  1577635200  5.56  5.50  5.57  5.50   2534100  ok
 240  1577721600  5.48  5.55  5.55  5.36   5974000  ok
 241  1577894400  5.35  5.40  5.43  5.32   2379500  ok

 [242 rows x 7 columns],
 'IHH':               t     c     o     h     l         v   s
 0    1546358400  5.34  5.45  5.45  5.23    671800  ok
 1    1546444800  5.34  5.35  5.38  5.25   3870500  ok
 2    1546531200  5.44  5.34  5.53  5.24   2575000  ok
 3    1546790400  5.56  5.49  5.58  5.46   7502200  ok
 4    1546876800  5.63  5.60  5.65  5.41  15429400  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  1577289600  5.60  5.62  5.65  5.58    402700  ok
 238  1577376000  5.76  5.60  5.76  5.60    992100  ok
 239  1577635200  5.70  5.70  5.73  5.67   3220900  ok
 240  1577721600  5.47  5.65  5.70  5.43   3929100  ok
 241  1577894400  5.57  5.50  5.59  5.48   6634400  ok

 [242 rows x 7 columns],
 'KOSSAN':               t     c     o     h     l        v   s
 0    1546358400  4.35  4.34  4.38  4.34    88100  ok
 1    1546444800  4.33  4.40  4.40  4.33  1079200  ok
 2    1546531200  4.33  4.32  4.34  4.32   116700  ok
 3    1546790400  4.25  4.30  4.40  4.21  3383400  ok
 4    1546876800  3.88  4.23  4.23  3.82  5278000  ok
 ..          ...   ...   ...   ...   ...      ...  ..
 237  1577289600  4.20  4.16  4.25  4.16   312700  ok
 238  1577376000  4.25  4.18  4.25  4.16   311200  ok
 239  1577635200  4.20  4.24  4.24  4.19   467800  ok
 240  1577721600  4.16  4.18  4.19  4.15   152200  ok
 241  1577894400  4.16  4.16  4.17  4.15   187400  ok

 [242 rows x 7 columns],
 'KOTRA':               t     c     o     h     l       v   s
 0    1546790400  1.70  1.70  1.70  1.70    9000  ok
 1    1546876800  1.70  1.70  1.70  1.70    3000  ok
 2    1547049600  1.70  1.70  1.70  1.70    6000  ok
 3    1547136000  1.70  1.70  1.70  1.70   11600  ok
 4    1547568000  1.70  1.70  1.70  1.70    5000  ok
 ..          ...   ...   ...   ...   ...     ...  ..
 151  1577116800  1.86  1.84  1.86  1.84  262100  ok
 152  1577376000  1.86  1.88  1.88  1.86   11400  ok
 153  1577635200  1.88  1.86  1.88  1.86    3500  ok
 154  1577721600  1.88  1.88  1.89  1.87   23800  ok
 155  1577894400  1.90  1.91  1.91  1.90   14700  ok

 [156 rows x 7 columns],
 'KPJ':               t      c      o      h      l         v   s
 0    1546358400  1.020  1.030  1.030  1.020    997000  ok
 1    1546444800  1.030  1.020  1.030  1.010    866100  ok
 2    1546531200  0.995  1.020  1.020  0.995  12403500  ok
 3    1546790400  1.000  1.000  1.010  0.995   3881000  ok
 4    1546876800  1.000  1.000  1.010  0.995   3208800  ok
 ..          ...    ...    ...    ...    ...       ...  ..
 237  1577289600  0.935  0.935  0.940  0.930    684300  ok
 238  1577376000  0.940  0.940  0.940  0.925   2727300  ok
 239  1577635200  0.940  0.940  0.945  0.940    631300  ok
 240  1577721600  0.945  0.940  0.955  0.940   3689500  ok
 241  1577894400  0.960  0.945  0.960  0.945   1554800  ok

 [242 rows x 7 columns],
 'PHARMA':               t     c     o     h     l      v   s
 0    1546358400  2.78  2.77  2.78  2.72   7300  ok
 1    1546444800  2.78  2.78  2.78  2.78  17000  ok
 2    1546531200  2.81  2.78  2.81  2.78  11000  ok
 3    1546790400  2.83  2.82  2.83  2.79  20000  ok
 4    1546876800  2.79  2.79  2.79  2.79    100  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 236  1577116800  2.09  2.08  2.09  2.08  34400  ok
 237  1577289600  2.10  2.07  2.10  2.06  36200  ok
 238  1577376000  2.09  2.08  2.09  2.07  31100  ok
 239  1577635200  2.09  2.09  2.09  2.06  57300  ok
 240  1577721600  2.06  2.08  2.08  2.06  83600  ok

 [241 rows x 7 columns],
 'SUPERMX':               t     c     o     h     l        v   s
 0    1546358400  3.43  3.50  3.52  3.43  2321600  ok
 1    1546444800  1.71  1.73  1.79  1.70  5150600  ok
 2    1546531200  1.74  1.72  1.74  1.69  2029400  ok
 3    1546790400  1.73  1.76  1.79  1.71  5870800  ok
 4    1546876800  1.64  1.74  1.76  1.63  9128300  ok
 ..          ...   ...   ...   ...   ...      ...  ..
 237  1577289600  1.41  1.39  1.41  1.39   692000  ok
 238  1577376000  1.41  1.40  1.43  1.39  1809000  ok
 239  1577635200  1.40  1.41  1.42  1.40  1912100  ok
 240  1577721600  1.39  1.40  1.40  1.38  2649700  ok
 241  1577894400  1.38  1.39  1.40  1.38  2130700  ok

 [242 rows x 7 columns],
 'TMCLIFE':               t      c      o      h      l       v   s
 0    1546358400  0.730  0.745  0.755  0.705  868300  ok
 1    1546444800  0.740  0.725  0.740  0.720   92700  ok
 2    1546531200  0.730  0.725  0.730  0.720  137700  ok
 3    1546790400  0.725  0.730  0.730  0.720  138100  ok
 4    1546876800  0.730  0.725  0.740  0.725  113500  ok
 ..          ...    ...    ...    ...    ...     ...  ..
 237  1577289600  0.625  0.630  0.630  0.625  292100  ok
 238  1577376000  0.625  0.625  0.635  0.620  342400  ok
 239  1577635200  0.630  0.635  0.635  0.625  652200  ok
 240  1577721600  0.630  0.630  0.630  0.620  468700  ok
 241  1577894400  0.625  0.630  0.630  0.620  364400  ok

 [242 rows x 7 columns],
 'TOPGLOV':               t     c     o     h     l         v   s
 0    1546358400  5.58  5.62  5.68  5.56   1410800  ok
 1    1546444800  5.55  5.60  5.65  5.55   2303400  ok
 2    1546531200  5.54  5.57  5.58  5.51   1966600  ok
 3    1546790400  5.30  5.56  5.58  5.25  13526800  ok
 4    1546876800  5.03  5.30  5.30  5.01  22623000  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  1577289600  4.75  4.79  4.79  4.74    643600  ok
 238  1577376000  4.76  4.76  4.78  4.72   3778500  ok
 239  1577635200  4.75  4.77  4.77  4.73   1049200  ok
 240  1577721600  4.70  4.73  4.73  4.69   3629400  ok
 241  1577894400  4.65  4.70  4.73  4.61   1521000  ok

 [242 rows x 7 columns],
 'YSPSAH':               t     c     o     h     l      v   s
 0    1546358400  2.72  2.70  2.72  2.70  18500  ok
 1    1546444800  2.70  2.71  2.71  2.70  23000  ok
 2    1546531200  2.75  2.77  2.77  2.75   1600  ok
 3    1546790400  2.72  2.72  2.72  2.72   4000  ok
 4    1546963200  2.74  2.71  2.75  2.71  27500  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 228  1577116800  2.30  2.30  2.30  2.30   2000  ok
 229  1577289600  2.37  2.31  2.37  2.31   8000  ok
 230  1577635200  2.33  2.37  2.38  2.33  75900  ok
 231  1577721600  2.33  2.34  2.35  2.33  16000  ok
 232  1577894400  2.35  2.33  2.35  2.33  27900  ok

 [233 rows x 7 columns]}

In [ ]:
#column t - date ()
#c, o, h, l - stock price
#from previous analysis result it only has the missing data under c, o, h, l
#we can't drop row with NA. so need to replace NA with mean value.

In [10]:
t=1548172800
print(type(t))

<class 'int'>

In [11]:
import time
time.strftime('%m/%d/%Y',  time.gmtime(t))

'01/22/2019'

In [12]:
topglov=tables['TOPGLOV']
topglov

              t     c     o     h     l         v   s
0    1546358400  5.58  5.62  5.68  5.56   1410800  ok
1    1546444800  5.55  5.60  5.65  5.55   2303400  ok
2    1546531200  5.54  5.57  5.58  5.51   1966600  ok
3    1546790400  5.30  5.56  5.58  5.25  13526800  ok
4    1546876800  5.03  5.30  5.30  5.01  22623000  ok
..          ...   ...   ...   ...   ...       ...  ..
237  1577289600  4.75  4.79  4.79  4.74    643600  ok
238  1577376000  4.76  4.76  4.78  4.72   3778500  ok
239  1577635200  4.75  4.77  4.77  4.73   1049200  ok
240  1577721600  4.70  4.73  4.73  4.69   3629400  ok
241  1577894400  4.65  4.70  4.73  4.61   1521000  ok

[242 rows x 7 columns]

In [13]:
for name in list(tables):
    tables[name].iloc[:,0] = pd.to_datetime(tables[name].iloc[:,0], unit='s').dt.strftime('%Y-%m-%d')
    print(name)
    print(tables[name].iloc[:,0])

ADVENTA
0      2019-01-01
1      2019-01-08
2      2019-01-14
3      2019-01-15
4      2019-01-17
          ...
175    2019-12-23
176    2019-12-26
177    2019-12-29
178    2019-12-30
179    2020-01-01
Name: t, Length: 180, dtype: object
AHEALTH
0      2019-01-02
1      2019-01-03
2      2019-01-06
3      2019-01-07
4      2019-01-08
          ...
231    2019-12-25
232    2019-12-26
233    2019-12-29
234    2019-12-30
235    2020-01-01
Name: t, Length: 236, dtype: object
DPHARMA
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
HARTA
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
IHH
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
KOSSAN
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
KOTRA
0      2019-01-06
1      2019-01-07
2      2019-01-09
3      2019-01-10
4      2019-01-15
          ...
151    2019-12-23
152    2019-12-26
153    2019-12-29
154    2019-12-30
155    2020-01-01
Name: t, Length: 156, dtype: object
KPJ
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
PHARMA
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
236    2019-12-23
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
Name: t, Length: 241, dtype: object
SUPERMX
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
TMCLIFE
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
TOPGLOV
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-07
          ...
237    2019-12-25
238    2019-12-26
239    2019-12-29
240    2019-12-30
241    2020-01-01
Name: t, Length: 242, dtype: object
YSPSAH
0      2019-01-01
1      2019-01-02
2      2019-01-03
3      2019-01-06
4      2019-01-08
          ...
228    2019-12-23
229    2019-12-25
230    2019-12-29
231    2019-12-30
232    2020-01-01
Name: t, Length: 233, dtype: object

In [14]:
tables

{'ADVENTA':               t      c      o      h     l       v   s
 0    2019-01-01  0.435  0.400  0.435  0.40    9000  ok
 1    2019-01-08  0.430  0.430  0.430  0.43    5000  ok
 2    2019-01-14  0.380  0.380  0.380  0.38  124400  ok
 3    2019-01-15  0.370  0.380  0.400  0.37   21200  ok
 4    2019-01-17  0.355  0.360  0.380  0.35   73800  ok
 ..          ...    ...    ...    ...   ...     ...  ..
 175  2019-12-23  0.550  0.555  0.555  0.55   10000  ok
 176  2019-12-26  0.560  0.560  0.560  0.56    9000  ok
 177  2019-12-29  0.560  0.560  0.560  0.56   30000  ok
 178  2019-12-30  0.600  0.620  0.620  0.60  208600  ok
 179  2020-01-01  0.610  0.610  0.610  0.61   80100  ok

 [180 rows x 7 columns],
 'AHEALTH':               t     c     o     h     l      v   s
 0    2019-01-02  8.00  7.80  8.00  7.80  15600  ok
 1    2019-01-03  8.13  8.00  8.20  8.00  92600  ok
 2    2019-01-06  8.12  8.12  8.12  8.12   2000  ok
 3    2019-01-07  8.12  8.10  8.15  8.10  18000  ok
 4    2019-01-08  8.12  8.10  8.20  8.10  10500  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 231  2019-12-25  2.24  2.22  2.25  2.20  24000  ok
 232  2019-12-26  2.24  2.25  2.26  2.24  41200  ok
 233  2019-12-29  2.25  2.24  2.25  2.24  24600  ok
 234  2019-12-30  2.24  2.25  2.27  2.24   8100  ok
 235  2020-01-01  2.24  2.25  2.26  2.24  64400  ok

 [236 rows x 7 columns],
 'DPHARMA':               t      c      o      h      l       v   s
 0    2019-01-01  0.950  0.940  0.950  0.940  123300  ok
 1    2019-01-02  0.955  0.950  0.955  0.950   61300  ok
 2    2019-01-03  0.980  0.945  0.980  0.945   57500  ok
 3    2019-01-06  1.020  0.985  1.030  0.985  328300  ok
 4    2019-01-07  1.010  1.030  1.040  1.010  155200  ok
 ..          ...    ...    ...    ...    ...     ...  ..
 237  2019-12-25  1.390  1.400  1.410  1.390  256100  ok
 238  2019-12-26  1.400  1.390  1.410  1.390  477800  ok
 239  2019-12-29  1.400  1.410  1.420  1.390  181700  ok
 240  2019-12-30  1.420  1.390  1.430  1.390  311200  ok
 241  2020-01-01  1.460  1.410  1.480  1.410  570800  ok

 [242 rows x 7 columns],
 'HARTA':               t     c     o     h     l         v   s
 0    2019-01-01  6.17  6.15  6.18  6.11    996800  ok
 1    2019-01-02  6.15  6.15  6.18  6.10    917700  ok
 2    2019-01-03  6.13  6.15  6.15  6.09   1104900  ok
 3    2019-01-06  5.75  6.11  6.14  5.69   8680300  ok
 4    2019-01-07  5.15  5.81  5.81  5.13  14457600  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  2019-12-25  5.43  5.46  5.49  5.39   1401500  ok
 238  2019-12-26  5.50  5.40  5.57  5.39   3109700  ok
 239  2019-12-29  5.56  5.50  5.57  5.50   2534100  ok
 240  2019-12-30  5.48  5.55  5.55  5.36   5974000  ok
 241  2020-01-01  5.35  5.40  5.43  5.32   2379500  ok

 [242 rows x 7 columns],
 'IHH':               t     c     o     h     l         v   s
 0    2019-01-01  5.34  5.45  5.45  5.23    671800  ok
 1    2019-01-02  5.34  5.35  5.38  5.25   3870500  ok
 2    2019-01-03  5.44  5.34  5.53  5.24   2575000  ok
 3    2019-01-06  5.56  5.49  5.58  5.46   7502200  ok
 4    2019-01-07  5.63  5.60  5.65  5.41  15429400  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  2019-12-25  5.60  5.62  5.65  5.58    402700  ok
 238  2019-12-26  5.76  5.60  5.76  5.60    992100  ok
 239  2019-12-29  5.70  5.70  5.73  5.67   3220900  ok
 240  2019-12-30  5.47  5.65  5.70  5.43   3929100  ok
 241  2020-01-01  5.57  5.50  5.59  5.48   6634400  ok

 [242 rows x 7 columns],
 'KOSSAN':               t     c     o     h     l        v   s
 0    2019-01-01  4.35  4.34  4.38  4.34    88100  ok
 1    2019-01-02  4.33  4.40  4.40  4.33  1079200  ok
 2    2019-01-03  4.33  4.32  4.34  4.32   116700  ok
 3    2019-01-06  4.25  4.30  4.40  4.21  3383400  ok
 4    2019-01-07  3.88  4.23  4.23  3.82  5278000  ok
 ..          ...   ...   ...   ...   ...      ...  ..
 237  2019-12-25  4.20  4.16  4.25  4.16   312700  ok
 238  2019-12-26  4.25  4.18  4.25  4.16   311200  ok
 239  2019-12-29  4.20  4.24  4.24  4.19   467800  ok
 240  2019-12-30  4.16  4.18  4.19  4.15   152200  ok
 241  2020-01-01  4.16  4.16  4.17  4.15   187400  ok

 [242 rows x 7 columns],
 'KOTRA':               t     c     o     h     l       v   s
 0    2019-01-06  1.70  1.70  1.70  1.70    9000  ok
 1    2019-01-07  1.70  1.70  1.70  1.70    3000  ok
 2    2019-01-09  1.70  1.70  1.70  1.70    6000  ok
 3    2019-01-10  1.70  1.70  1.70  1.70   11600  ok
 4    2019-01-15  1.70  1.70  1.70  1.70    5000  ok
 ..          ...   ...   ...   ...   ...     ...  ..
 151  2019-12-23  1.86  1.84  1.86  1.84  262100  ok
 152  2019-12-26  1.86  1.88  1.88  1.86   11400  ok
 153  2019-12-29  1.88  1.86  1.88  1.86    3500  ok
 154  2019-12-30  1.88  1.88  1.89  1.87   23800  ok
 155  2020-01-01  1.90  1.91  1.91  1.90   14700  ok

 [156 rows x 7 columns],
 'KPJ':               t      c      o      h      l         v   s
 0    2019-01-01  1.020  1.030  1.030  1.020    997000  ok
 1    2019-01-02  1.030  1.020  1.030  1.010    866100  ok
 2    2019-01-03  0.995  1.020  1.020  0.995  12403500  ok
 3    2019-01-06  1.000  1.000  1.010  0.995   3881000  ok
 4    2019-01-07  1.000  1.000  1.010  0.995   3208800  ok
 ..          ...    ...    ...    ...    ...       ...  ..
 237  2019-12-25  0.935  0.935  0.940  0.930    684300  ok
 238  2019-12-26  0.940  0.940  0.940  0.925   2727300  ok
 239  2019-12-29  0.940  0.940  0.945  0.940    631300  ok
 240  2019-12-30  0.945  0.940  0.955  0.940   3689500  ok
 241  2020-01-01  0.960  0.945  0.960  0.945   1554800  ok

 [242 rows x 7 columns],
 'PHARMA':               t     c     o     h     l      v   s
 0    2019-01-01  2.78  2.77  2.78  2.72   7300  ok
 1    2019-01-02  2.78  2.78  2.78  2.78  17000  ok
 2    2019-01-03  2.81  2.78  2.81  2.78  11000  ok
 3    2019-01-06  2.83  2.82  2.83  2.79  20000  ok
 4    2019-01-07  2.79  2.79  2.79  2.79    100  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 236  2019-12-23  2.09  2.08  2.09  2.08  34400  ok
 237  2019-12-25  2.10  2.07  2.10  2.06  36200  ok
 238  2019-12-26  2.09  2.08  2.09  2.07  31100  ok
 239  2019-12-29  2.09  2.09  2.09  2.06  57300  ok
 240  2019-12-30  2.06  2.08  2.08  2.06  83600  ok

 [241 rows x 7 columns],
 'SUPERMX':               t     c     o     h     l        v   s
 0    2019-01-01  3.43  3.50  3.52  3.43  2321600  ok
 1    2019-01-02  1.71  1.73  1.79  1.70  5150600  ok
 2    2019-01-03  1.74  1.72  1.74  1.69  2029400  ok
 3    2019-01-06  1.73  1.76  1.79  1.71  5870800  ok
 4    2019-01-07  1.64  1.74  1.76  1.63  9128300  ok
 ..          ...   ...   ...   ...   ...      ...  ..
 237  2019-12-25  1.41  1.39  1.41  1.39   692000  ok
 238  2019-12-26  1.41  1.40  1.43  1.39  1809000  ok
 239  2019-12-29  1.40  1.41  1.42  1.40  1912100  ok
 240  2019-12-30  1.39  1.40  1.40  1.38  2649700  ok
 241  2020-01-01  1.38  1.39  1.40  1.38  2130700  ok

 [242 rows x 7 columns],
 'TMCLIFE':               t      c      o      h      l       v   s
 0    2019-01-01  0.730  0.745  0.755  0.705  868300  ok
 1    2019-01-02  0.740  0.725  0.740  0.720   92700  ok
 2    2019-01-03  0.730  0.725  0.730  0.720  137700  ok
 3    2019-01-06  0.725  0.730  0.730  0.720  138100  ok
 4    2019-01-07  0.730  0.725  0.740  0.725  113500  ok
 ..          ...    ...    ...    ...    ...     ...  ..
 237  2019-12-25  0.625  0.630  0.630  0.625  292100  ok
 238  2019-12-26  0.625  0.625  0.635  0.620  342400  ok
 239  2019-12-29  0.630  0.635  0.635  0.625  652200  ok
 240  2019-12-30  0.630  0.630  0.630  0.620  468700  ok
 241  2020-01-01  0.625  0.630  0.630  0.620  364400  ok

 [242 rows x 7 columns],
 'TOPGLOV':               t     c     o     h     l         v   s
 0    2019-01-01  5.58  5.62  5.68  5.56   1410800  ok
 1    2019-01-02  5.55  5.60  5.65  5.55   2303400  ok
 2    2019-01-03  5.54  5.57  5.58  5.51   1966600  ok
 3    2019-01-06  5.30  5.56  5.58  5.25  13526800  ok
 4    2019-01-07  5.03  5.30  5.30  5.01  22623000  ok
 ..          ...   ...   ...   ...   ...       ...  ..
 237  2019-12-25  4.75  4.79  4.79  4.74    643600  ok
 238  2019-12-26  4.76  4.76  4.78  4.72   3778500  ok
 239  2019-12-29  4.75  4.77  4.77  4.73   1049200  ok
 240  2019-12-30  4.70  4.73  4.73  4.69   3629400  ok
 241  2020-01-01  4.65  4.70  4.73  4.61   1521000  ok

 [242 rows x 7 columns],
 'YSPSAH':               t     c     o     h     l      v   s
 0    2019-01-01  2.72  2.70  2.72  2.70  18500  ok
 1    2019-01-02  2.70  2.71  2.71  2.70  23000  ok
 2    2019-01-03  2.75  2.77  2.77  2.75   1600  ok
 3    2019-01-06  2.72  2.72  2.72  2.72   4000  ok
 4    2019-01-08  2.74  2.71  2.75  2.71  27500  ok
 ..          ...   ...   ...   ...   ...    ...  ..
 228  2019-12-23  2.30  2.30  2.30  2.30   2000  ok
 229  2019-12-25  2.37  2.31  2.37  2.31   8000  ok
 230  2019-12-29  2.33  2.37  2.38  2.33  75900  ok
 231  2019-12-30  2.33  2.34  2.35  2.33  16000  ok
 232  2020-01-01  2.35  2.33  2.35  2.33  27900  ok

 [233 rows x 7 columns]}